*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: white;
  font-family: Formular;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(12, minmax(6.5%, 12.8rem)) [content-end] 1fr [full-end];
  grid-template-rows: 13rem -webkit-max-content minmax(40rem, -webkit-max-content) 67.1rem 42rem 55.5rem 23.4rem;
  grid-template-rows: 13rem max-content minmax(40rem, max-content) 67.1rem 42rem 55.5rem 23.4rem;
  grid-gap: 7.2rem 0;
}
@media only screen and (max-width: 1536px) {
  .container {
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, minmax(6%, 8.55rem)) [content-end] 1fr [full-end];
    grid-template-rows: 13rem -webkit-max-content minmax(40rem, -webkit-max-content) 107.1rem 41rem 55.5rem 23.4rem;
    grid-template-rows: 13rem max-content minmax(40rem, max-content) 107.1rem 41rem 55.5rem 23.4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, 6.4rem) [content-end] 1fr [full-end];
    grid-template-rows: 20rem -webkit-max-content minmax(40rem, -webkit-max-content) 107.1rem 30rem 55.5rem 34rem;
    grid-template-rows: 20rem max-content minmax(40rem, max-content) 107.1rem 30rem 55.5rem 34rem;
  }
}

.div-background {
  grid-column: full-start/full-end;
  grid-row: 2/-1;
  background-color: #E5E7EB;
  z-index: -1;
}

.div-background-2 {
  grid-column: full-start/full-end;
  grid-row: 7/-1;
  background: #111827;
  z-index: -1;
}

.margin-top-delivery {
  margin-top: 7rem;
}
@media only screen and (max-width: 1536px) {
  .margin-top-delivery {
    margin-top: 4.8rem;
  }
}

.margin-top-calc {
  margin-top: 7rem;
}
@media only screen and (max-width: 1536px) {
  .margin-top-calc {
    margin-top: 4rem;
  }
}

.margin-left-calc {
  margin-left: 2.4rem;
}
@media only screen and (max-width: 1536px) {
  .margin-left-calc {
    margin-left: 0rem;
  }
}

.margin-top-7rem {
  margin-top: 7.2rem;
}

@font-face {
  font-family: Formular;
  src: url("../fonts/Formular/Formular-Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: Formular;
  src: url("../fonts/Formular/Formular-Bold.ttf");
  font-weight: bold;
}
.button-1 {
  width: 20rem;
  height: 4.4rem;
  background-color: #8B5CF6;
  color: white;
  border: 1px solid #8B5CF6;
  border-radius: 1.2rem;
}
.button-1:hover {
  background-color: #A78BFA;
  border: 1px solid #A78BFA;
}
.button-1:active {
  background-color: #6D28D9;
  border: 1px solid #6D28D9;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  width: 5rem;
  height: 7.4rem;
}
.logo__text {
  font-family: Formular;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.2rem;
  text-align: left;
  color: #111827;
}

.nav {
  grid-column: 1/2;
  align-self: center;
  width: 38.2rem;
}
.nav__list {
  list-style-type: none;
}
.nav__item {
  display: inline;
}
.nav__item:not(:last-child) {
  margin-right: 2.4rem;
}
.nav__link {
  text-decoration: none;
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
  color: #111827;
}
.nav__link:hover {
  color: #8B5CF6;
}

.header {
  grid-column: content-start/content-end;
  display: grid;
  grid-template-columns: 31.2rem 1fr 39rem 36rem;
  grid-template-rows: 7.5rem 4.4rem;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 2.2rem 0;
  padding: 2.4rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media only screen and (max-width: 1536px) {
  .header {
    grid-template-columns: 31.2rem 1fr 39rem 31rem;
    grid-template-rows: 7.5rem 4.4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    grid-template-columns: 50% 50%;
    grid-template-rows: 7.5rem 6.5rem 4rem;
  }
}
.header__nav-content {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 31.2rem 1fr 20rem;
  grid-template-rows: 100%;
}
@media only screen and (max-width: 1024px) {
  .header__nav-content {
    padding: 2.2rem 0;
    border-top: 2px solid #A78BFA;
    border-bottom: 2px solid #A78BFA;
  }
}
.header__btn {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
}
@media only screen and (max-width: 1024px) {
  .header__btn {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
  }
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.info {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: right;
  padding-right: 1.2rem;
}
@media only screen and (max-width: 1024px) {
  .info {
    grid-column: 1/3;
    grid-row: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.info__text-paragraph {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.4rem;
  text-align: right;
  color: #111827;
}
@media only screen and (max-width: 1024px) {
  .info__text-paragraph:not(:last-child) {
    margin-right: 1.4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .info__text-paragraph {
    width: 22.3rem;
    font-size: 1.4rem;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-weight: 400;
    line-height: 2rem;
    color: #111827;
  }
}

.phone {
  grid-column: 4/5;
  grid-row: 1/2;
  padding-left: 1.2rem;
  justify-self: end;
}
@media only screen and (max-width: 1024px) {
  .phone {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    border-left: none;
  }
}
.phone_border {
  border-left: 1px solid #A78BFA;
}
.phone__number {
  font-family: Formular;
  font-size: 3.7rem;
  font-weight: bold;
  line-height: 4rem;
  text-align: left;
  color: #111827;
}
@media only screen and (max-width: 1536px) {
  .phone__number {
    font-size: 3.1rem;
    line-height: 3.6rem;
  }
}
.phone__label {
  font-family: Formular;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-align: left;
}
@media only screen and (max-width: 1536px) {
  .phone__label {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.deliveryAndCalc {
  grid-column: content-start/content-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
@media only screen and (max-width: 1536px) {
  .deliveryAndCalc {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
}
@media only screen and (max-width: 1024px) {
  .deliveryAndCalc {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
}

.delivery {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12rem 8.4rem 1fr;
}
@media only screen and (max-width: 1536px) {
  .delivery {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10.8rem 12.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .delivery {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 60%;
  }
}
.delivery__title-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: Formular;
  font-size: 3.9rem;
  font-weight: 900;
  line-height: 4rem;
  text-align: left;
  width: 100%;
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 1536px) {
  .delivery__title-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.6rem;
    width: 50rem;
  }
}
@media only screen and (max-width: 1024px) {
  .delivery__title-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }
}
.delivery__paragraph {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: Formular;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 1536px) {
  .delivery__paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    width: 50.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .delivery__paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
  }
}
.delivery__image {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1536px) {
  .delivery__image {
    grid-column: 2/2;
    grid-row: 1/3;
  }
}
@media only screen and (max-width: 1024px) {
  .delivery__image {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.calc {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  background-color: white;
  border-radius: 2rem;
  justify-items: center;
  padding: 2.4rem 0;
}
@media only screen and (max-width: 1536px) {
  .calc {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.calc__title-2 {
  font-family: Formular;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
  width: 35.8rem;
}
.calc__paragraph {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 2.7rem;
  width: 35.8rem;
}
.calc__form {
  display: grid;
  grid-template-columns: repeat(2, 23.5rem);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 2.4rem 2rem;
  width: 49.5rem;
  height: 100%;
}
.calc__input {
  justify-self: center;
  width: 23.6rem;
  height: 4.8rem;
  border: 3px solid black;
  border-radius: 5px;
}
.calc__input:first-child {
  width: 49.1rem;
  grid-column: 1/-1;
}
.calc__input::-webkit-input-placeholder {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-left: 0.4rem;
}
.calc__input::-moz-placeholder {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-left: 0.4rem;
}
.calc__input:-ms-input-placeholder {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-left: 0.4rem;
}
.calc__input::-ms-input-placeholder {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-left: 0.4rem;
}
.calc__input::placeholder {
  font-family: Formular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  padding-left: 0.4rem;
}
.calc__button {
  width: 49.1rem;
  height: 4.6rem;
  grid-column: 1/-1;
  background-color: #8B5CF6;
  border: 1px solid #8B5CF6;
  border-radius: 0.3rem;
  color: white;
}

.calc__form input:focus {
  border: 1px solid #8B5CF6;
  outline: 3px solid #8B5CF6;
}

.advantages {
  grid-column: content-start/content-end;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  grid-template-rows: minmax(repeat(auto-fit, 15rem), -webkit-max-content);
  grid-template-rows: minmax(repeat(auto-fit, 15rem), max-content);
  justify-items: center;
  grid-gap: 2.4rem;
}
.advantages__title-2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
  font-family: Formular;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0%;
}

.advantages-item {
  display: grid;
  grid-template-columns: 14rem 30rem;
  grid-template-rows: minmax(-webkit-max-content, 14rem);
  grid-template-rows: minmax(max-content, 14rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1024px) {
  .advantages-item {
    grid-template-columns: 10rem 26rem;
  }
}
.advantages-item__img {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media only screen and (max-width: 1024px) {
  .advantages-item__img {
    width: 9.6rem;
    height: 9.6rem;
  }
}
.advantages-item__text {
  grid-column: 2/3;
}
.advantages-item__title-4 {
  font-family: Formular;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  margin-bottom: 1.2rem;
}
.advantages-item__paragraph {
  font-family: Formular;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

.guarantees {
  grid-column: content-start/content-end;
  grid-row: 4/5;
  display: grid;
}
.guarantees__title-2 {
  width: 30.4rem;
  justify-self: center;
  font-family: Formular;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0%;
  margin-bottom: 1.2rem;
}
.guarantees__paragraph {
  width: 75.6rem;
  justify-self: center;
  font-family: Formular;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 2.4rem;
}
.guarantees__button {
  grid-column: 1/2;
  justify-self: center;
  margin-top: 3.5rem;
}

.guarantees-container {
  display: grid;
  grid-template-columns: repeat(4, 37rem);
  grid-template-rows: 41rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0 2.4rem;
}
@media only screen and (max-width: 1536px) {
  .guarantees-container {
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: 41rem 41rem;
    grid-gap: 2.4rem 2.4rem;
  }
}

.guarantees-item {
  width: 36.2rem;
  height: 40.7rem;
}
.guarantees-item__label {
  font-family: Formular;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  text-align: center;
}

.reviews {
  grid-column: content-start/content-end;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 11rem 128rem 11rem;
  grid-template-rows: 7rem 35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1536px) {
  .reviews {
    grid-template-columns: 8rem 85rem 8rem;
    grid-template-rows: 7rem 35rem;
  }
}
@media only screen and (max-width: 1024px) {
  .reviews {
    grid-template-columns: 11rem 57rem 11rem;
    grid-template-rows: 7rem 22.4rem;
  }
}
.reviews__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  font-family: Formular;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0%;
}
.reviews__content {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 127.6rem;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  overflow: hidden;
}
@media only screen and (max-width: 1536px) {
  .reviews__content {
    width: 100rem;
    height: 35rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1024px) {
  .reviews__content {
    width: 57rem;
    height: 22.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.reviews-item {
  width: 62.6rem;
  background-color: white;
  padding: 4.3rem 3.2rem;
  border-radius: 1.6rem;
}
@media only screen and (max-width: 1536px) {
  .reviews-item {
    width: 39.6rem;
    height: 31.5rem;
    padding: 1.6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .reviews-item {
    width: 57rem;
    height: 22.4rem;
  }
}
.reviews-item__text {
  height: 22.5rem;
  font-family: Formular;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1536px) {
  .reviews-item__text {
    height: 19.6rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.2em;
  }
}
.reviews-item__author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews-item__name {
  position: relative;
  bottom: 2.5rem;
  font-family: Formular;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  color: rgba(107, 114, 128, 0.3333333333);
}
@media only screen and (max-width: 1536px) {
  .reviews-item__name {
    bottom: -3rem;
  }
}
@media only screen and (max-width: 1024px) {
  .reviews-item__name {
    bottom: 6rem;
  }
}
.reviews-item__quotes {
  position: relative;
  bottom: 2.5rem;
}
@media only screen and (max-width: 1536px) {
  .reviews-item__quotes {
    bottom: -2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .reviews-item__quotes {
    bottom: 6rem;
  }
}

.arrow-left {
  grid-column: 1/2;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.arrow-right {
  grid-column: 3/4;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.questions {
  grid-column: content-start/content-end;
  grid-row: 6/7;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 6.4rem 0;
}
.questions__title {
  margin-bottom: 3.2rem;
  text-align: center;
  font-family: Formular;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0%;
}

.questions-form {
  display: grid;
  grid-template-columns: repeat(2, 23.7rem);
  grid-template-rows: repeat(2, 5rem) 15rem 4.4rem;
  grid-gap: 2.4rem;
}
.questions-form input, .questions-form textarea {
  border: 3px solid black;
  border-radius: 0.4rem;
}
.questions-form input::-webkit-input-placeholder, .questions-form textarea::-webkit-input-placeholder {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.questions-form input::-moz-placeholder, .questions-form textarea::-moz-placeholder {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.questions-form input:-ms-input-placeholder, .questions-form textarea:-ms-input-placeholder {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.questions-form input::-ms-input-placeholder, .questions-form textarea::-ms-input-placeholder {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.questions-form input::placeholder, .questions-form textarea::placeholder {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.questions-form input:focus, .questions-form textarea:focus {
  outline: 2px solid #8B5CF6;
  border: 3px solid #8B5CF6;
}
.questions-form__name {
  grid-column: 1/2;
  grid-row: 1/2;
}
.questions-form__email {
  grid-column: 2/3;
  grid-row: 1/2;
}
.questions-form__phone {
  grid-column: 1/2;
  grid-row: 2/3;
}
.questions-form__theme {
  grid-column: 2/3;
  grid-row: 2/3;
}
.questions-form__message {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.questions-form__button {
  grid-column: 1/-1;
  grid-row: 4/5;
  width: 100%;
}

.footer {
  grid-column: content-start/content-end;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: 40rem 1fr 37.2rem 1fr 36rem;
  grid-template-rows: 10rem 2.4rem 3rem;
  padding: 4rem 0;
}
@media only screen and (max-width: 1536px) {
  .footer {
    grid-column: full-start/full-end;
    grid-template-columns: 33rem 1fr 37.8rem 1fr 30rem;
    padding: 4rem 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .footer {
    grid-template-columns: 50% 50%;
    grid-template-rows: 3rem 12rem 5rem 4rem;
  }
}

.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media only screen and (max-width: 1024px) {
  .footer-logo {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: left;
  }
}

.footer-nav {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media only screen and (max-width: 1024px) {
  .footer-nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
  }
}

.footer-contact {
  grid-column: 5/6;
  grid-row: 1/2;
}
@media only screen and (max-width: 1024px) {
  .footer-contact {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: end;
  }
}

.footer-offer {
  grid-column: 1/5;
  grid-row: 3/4;
  color: #4B5563;
}
@media only screen and (max-width: 1024px) {
  .footer-offer {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}

.footer-developed {
  grid-column: 5/6;
  grid-row: 3/4;
  width: 24rem;
  text-align: right;
  justify-self: right;
  color: #4B5563;
}
@media only screen and (max-width: 1024px) {
  .footer-developed {
    grid-column: 1/-1;
    grid-row: 4/5;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}

.footer-logo__protection {
  color: white;
}

.logo__text_white {
  color: white;
}

.nav__link_white {
  color: white;
}

.phone__number_foot {
  color: white;
}
@media only screen and (max-width: 1536px) {
  .phone__number_foot {
    font-size: 3rem;
    text-align: right;
  }
}

.phone__label_foot {
  color: white;
}
@media only screen and (max-width: 1536px) {
  .phone__label_foot {
    font-size: 2rem;
    text-align: right;
  }
}