*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 62.5%
    background-color: white
    font-family: Formular
.container
    display: grid
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, minmax(6.5%, 12.8rem)) [content-end] 1fr [full-end]
    grid-template-rows: 20rem 70rem 7rem minmax(40rem, max-content) 7.2rem 67.1rem 7.2rem 42rem 7.2rem
.div-background
    grid-column: full-start / full-end
    grid-row: 2 / -1
    background-color: #E5E7EB
    z-index: -1