.footer
    grid-column: content-start / content-end
    grid-row: 12 / 13
    display: grid
    grid-template-columns: 40rem 1fr 37.2rem 1fr 36rem
    grid-template-rows: 10rem 2.4rem 3rem
    padding: 4rem 0
.footer-logo
    grid-column: 1 / 2
    grid-row: 1 / 2 
.footer-nav
    grid-column: 3 / 4
    grid-row: 1 / 2
.footer-contact
    grid-column: 5 / 6
    grid-row: 1 / 2
.footer-offer
    grid-column: 1 / 5
    grid-row: 3 / 4
    color: #4B5563

.footer-developed
    grid-column: 5 / 6 
    grid-row: 3 / 4
    color: #4B5563
.footer-logo__protection
    color: white
.logo__text_white
    color: white
.nav__link_white
    color: white 
.contact__phone-number_white
    color: white
.contact__phone-label_white
    color: white