.guarantees
    grid-column: content-start / content-end
    grid-row: 6 / 7
    display: grid
    justify-items: center
    &__title-2
        width: 30.4rem
        //text-align: center
        font-family: Formular
        font-weight: 900
        font-size: 3rem
        line-height: 3.6rem
        letter-spacing: 0%
    &__paragraph
        width: 75.6rem
        font-family: Formular
        font-weight: 400
        font-size: 1.6rem
        line-height: 2.4rem
        letter-spacing: 0%
        text-align: center
.guarantees-item
    &__label
        font-family: Formular
        font-weight: 900
        font-size: 1.8rem
        line-height: 2.8rem
        letter-spacing: 0%
        text-align: center


